<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.CommUserWxalipyMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.CommUserWxalipy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="aliname" property="aliname" jdbcType="VARCHAR" />
    <result column="alipay" property="alipay" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="wxname" property="wxname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, token, aliname, alipay, weixin, wxname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_user_wxalipy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comm_user_wxalipy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserWxalipy" >
    insert into tb_comm_user_wxalipy (id, token, aliname, 
      alipay, weixin, wxname
      )
    values (#{id,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{aliname,jdbcType=VARCHAR}, 
      #{alipay,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{wxname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserWxalipy" >
    insert into tb_comm_user_wxalipy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="aliname != null" >
        aliname,
      </if>
      <if test="alipay != null" >
        alipay,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="wxname != null" >
        wxname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="aliname != null" >
        #{aliname,jdbcType=VARCHAR},
      </if>
      <if test="alipay != null" >
        #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="wxname != null" >
        #{wxname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserWxalipy" >
    update tb_comm_user_wxalipy
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="aliname != null" >
        aliname = #{aliname,jdbcType=VARCHAR},
      </if>
      <if test="alipay != null" >
        alipay = #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="wxname != null" >
        wxname = #{wxname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserWxalipy" >
    update tb_comm_user_wxalipy
    set token = #{token,jdbcType=VARCHAR},
      aliname = #{aliname,jdbcType=VARCHAR},
      alipay = #{alipay,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      wxname = #{wxname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectToken" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_user_wxalipy
    where token = #{token,jdbcType=VARCHAR}
  </select>
  <update id="unsubscribe" parameterType="string">
     update tb_comm_user_wxalipy set weixin = null and wxname = null where weixin=#{weixin}
  </update>
</mapper>