<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.CommHostMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.CommHost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="onlineStatus" property="onlinestatus" jdbcType="INTEGER" />
    <result column="webinar_id" property="webinarId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="coverimg" property="coverimg" jdbcType="VARCHAR" />
    <result column="award" property="award" jdbcType="DOUBLE" />
    <result column="tdaward" property="tdaward" jdbcType="DOUBLE" />
    <result column="totalaward" property="totalaward" jdbcType="DOUBLE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="indicate" property="indicate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, pass, mobile, subject, introduction, img_url, onlineStatus, webinar_id, 
    nickname, createtime, updatetime, headimg, coverimg, award, tdaward, totalaward, 
    user_id, indicate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_host
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comm_host
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.CommHost" >
    insert into tb_comm_host (id, account, pass, 
      mobile, subject, introduction, 
      img_url, onlineStatus, webinar_id, 
      nickname, createtime, updatetime, 
      headimg, coverimg, award, 
      tdaward, totalaward, user_id, 
      indicate)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{onlinestatus,jdbcType=INTEGER}, #{webinarId,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{headimg,jdbcType=VARCHAR}, #{coverimg,jdbcType=VARCHAR}, #{award,jdbcType=DOUBLE}, 
      #{tdaward,jdbcType=DOUBLE}, #{totalaward,jdbcType=DOUBLE}, #{userId,jdbcType=INTEGER}, 
      #{indicate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommHost" >
    insert into tb_comm_host
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="onlinestatus != null" >
        onlineStatus,
      </if>
      <if test="webinarId != null" >
        webinar_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
      <if test="coverimg != null" >
        coverimg,
      </if>
      <if test="award != null" >
        award,
      </if>
      <if test="tdaward != null" >
        tdaward,
      </if>
      <if test="totalaward != null" >
        totalaward,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="indicate != null" >
        indicate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlinestatus != null" >
        #{onlinestatus,jdbcType=INTEGER},
      </if>
      <if test="webinarId != null" >
        #{webinarId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="award != null" >
        #{award,jdbcType=DOUBLE},
      </if>
      <if test="tdaward != null" >
        #{tdaward,jdbcType=DOUBLE},
      </if>
      <if test="totalaward != null" >
        #{totalaward,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="indicate != null" >
        #{indicate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommHost" >
    update tb_comm_host
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlinestatus != null" >
        onlineStatus = #{onlinestatus,jdbcType=INTEGER},
      </if>
      <if test="webinarId != null" >
        webinar_id = #{webinarId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="headimg != null" >
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        coverimg = #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="award != null" >
        award = #{award,jdbcType=DOUBLE},
      </if>
      <if test="tdaward != null" >
        tdaward = #{tdaward,jdbcType=DOUBLE},
      </if>
      <if test="totalaward != null" >
        totalaward = #{totalaward,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="indicate != null" >
        indicate = #{indicate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.CommHost" >
    update tb_comm_host
    set account = #{account,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      onlineStatus = #{onlinestatus,jdbcType=INTEGER},
      webinar_id = #{webinarId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      headimg = #{headimg,jdbcType=VARCHAR},
      coverimg = #{coverimg,jdbcType=VARCHAR},
      award = #{award,jdbcType=DOUBLE},
      tdaward = #{tdaward,jdbcType=DOUBLE},
      totalaward = #{totalaward,jdbcType=DOUBLE},
      user_id = #{userId,jdbcType=INTEGER},
      indicate = #{indicate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_host
    ORDER BY onlineStatus DESC
  </select>
   <select id="selectByWebinarId" resultMap="BaseResultMap"  >
    select 
     <include refid="Base_Column_List" />
    from tb_comm_host
    where webinar_id = #{webinarId,jdbcType=INTEGER}
  </select>
   <select id="selectByUserID" resultMap="BaseResultMap"  >
    select 
     <include refid="Base_Column_List" />
    from tb_comm_host
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getStudents" resultType="java.util.HashMap" parameterType="java.lang.Integer" > 
   select tu.*  from tb_comm_host th 
	 LEFT JOIN tb_comm_user tu on th.id = tu.commid 
   where th.webinar_id= #{webinarId,jdbcType=INTEGER}
   </select>
   <select id="getwebinarId" resultType="java.util.HashMap"  >
	select th.webinar_id webinarId from  tb_comm_host th
	left  JOIN tb_comm_user tu on th.id = tu.commid
	 where tu.indicate =#{token,jdbcType=VARCHAR}
  </select>
  <select id="getStudentsNew" resultType="java.util.HashMap" parameterType="java.lang.Integer" > 
   select tu.*  from tb_comm_host th 
	 LEFT JOIN tb_comm_user tu on th.id = tu.commid 
   where th.user_id= #{userId,jdbcType=INTEGER}
   </select>
</mapper>