<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.CommStatWxCashMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.CommStatWxCash" >
    <id column="day" property="day" jdbcType="DATE" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="pending_count" property="pendingCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    day, times, amount, pending_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Date" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_stat_wx_cash
    where day = #{day,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
    delete from tb_comm_stat_wx_cash
    where day = #{day,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.CommStatWxCash" >
    insert into tb_comm_stat_wx_cash (day, times, amount, 
      pending_count)
    values (#{day,jdbcType=DATE}, #{times,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{pendingCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommStatWxCash" >
    insert into tb_comm_stat_wx_cash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="day != null" >
        day,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="pendingCount != null" >
        pending_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="pendingCount != null" >
        #{pendingCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommStatWxCash" >
    update tb_comm_stat_wx_cash
    <set >
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="pendingCount != null" >
        pending_count = #{pendingCount,jdbcType=INTEGER},
      </if>
    </set>
    where day = #{day,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.CommStatWxCash" >
    update tb_comm_stat_wx_cash
    set times = #{times,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      pending_count = #{pendingCount,jdbcType=INTEGER}
    where day = #{day,jdbcType=DATE}
  </update>
  
  <select id="countAllByWhere" resultType="Integer" parameterType="java.util.Map">
		SELECT count(*)
		FROM tb_comm_stat_wx_cash c WHERE 1 = 1
		<if test="from!=null and from != ''">
			<![CDATA[  AND c.day >= #{from,jdbcType=VARCHAR} ]]>
		</if>
		<if test="to!=null and to != ''">
			<![CDATA[  AND c.day <= #{to,jdbcType=VARCHAR} ]]>
		</if>
	</select>
	
	<select id="getAllMoney" resultType="Integer">
		SELECT IFNULL(SUM(amount),0) FROM
		tb_comm_stat_wx_cash
	</select>
	
	<select id="selectPageByDay" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_comm_stat_wx_cash WHERE 1 = 1
		<if test="from != ''">
			<![CDATA[  AND day >= #{from,jdbcType=VARCHAR} ]]>
		</if>
		<if test="to != ''">
			<![CDATA[  AND day <= #{to,jdbcType=VARCHAR} ]]>
		</if>
		ORDER BY day
		<if test="dir!=null and dir == 'desc'">
			DESC
		</if>
		<if test="start !=null and size != null">
	    <![CDATA[ LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER} ]]>
		</if>
	</select>
</mapper>