<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.CommUserDayMapper">
	<resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="todayRegisterNum" property="todayregisternum" jdbcType="INTEGER" />
    <result column="todayRechargeNum" property="todayrechargenum" jdbcType="INTEGER" />
    <result column="todayCommission" property="todaycommission" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="todayWithdrawalsCount" property="todaywithdrawalscount" jdbcType="INTEGER" />
    <result column="todayRechargeTotal" property="todayrechargetotal" jdbcType="DOUBLE" />
    <result column="todayRechargeTd" property="todayrechargetd" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, todayRegisterNum, todayRechargeNum, todayCommission, time, todayWithdrawalsCount, 
    todayRechargeTotal, todayRechargeTd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_user_day
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comm_user_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    insert into tb_comm_user_day (id, userid, todayRegisterNum, 
      todayRechargeNum, todayCommission, time, 
      todayWithdrawalsCount, todayRechargeTotal, 
      todayRechargeTd)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{todayregisternum,jdbcType=INTEGER}, 
      #{todayrechargenum,jdbcType=INTEGER}, #{todaycommission,jdbcType=DOUBLE}, #{time,jdbcType=DATE}, 
      #{todaywithdrawalscount,jdbcType=INTEGER}, #{todayrechargetotal,jdbcType=DOUBLE}, 
      #{todayrechargetd,jdbcType=DOUBLE})
  </insert>


  <insert id="insertUpdateWithdrawCount" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    INSERT INTO tb_comm_user_day (userid, time, todayWithdrawalsCount) VALUES (#{userid,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{todaywithdrawalscount,jdbcType=INTEGER})
    ON DUPLICATE KEY UPDATE todaywithdrawalscount=todaywithdrawalscount+1;
  </insert>


  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    insert into tb_comm_user_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="todayregisternum != null" >
        todayRegisterNum,
      </if>
      <if test="todayrechargenum != null" >
        todayRechargeNum,
      </if>
      <if test="todaycommission != null" >
        todayCommission,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="todaywithdrawalscount != null" >
        todayWithdrawalsCount,
      </if>
      <if test="todayrechargetotal != null" >
        todayRechargeTotal,
      </if>
      <if test="todayrechargetd != null" >
        todayRechargeTd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="todayregisternum != null" >
        #{todayregisternum,jdbcType=INTEGER},
      </if>
      <if test="todayrechargenum != null" >
        #{todayrechargenum,jdbcType=INTEGER},
      </if>
      <if test="todaycommission != null" >
        #{todaycommission,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="todaywithdrawalscount != null" >
        #{todaywithdrawalscount,jdbcType=INTEGER},
      </if>
      <if test="todayrechargetotal != null" >
        #{todayrechargetotal,jdbcType=DOUBLE},
      </if>
      <if test="todayrechargetd != null" >
        #{todayrechargetd,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    update tb_comm_user_day
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="todayregisternum != null" >
        todayRegisterNum = #{todayregisternum,jdbcType=INTEGER},
      </if>
      <if test="todayrechargenum != null" >
        todayRechargeNum = #{todayrechargenum,jdbcType=INTEGER},
      </if>
      <if test="todaycommission != null" >
        todayCommission = #{todaycommission,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="todaywithdrawalscount != null" >
        todayWithdrawalsCount = #{todaywithdrawalscount,jdbcType=INTEGER},
      </if>
      <if test="todayrechargetotal != null" >
        todayRechargeTotal = #{todayrechargetotal,jdbcType=DOUBLE},
      </if>
      <if test="todayrechargetd != null" >
        todayRechargeTd = #{todayrechargetd,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay" >
    update tb_comm_user_day
    set userid = #{userid,jdbcType=VARCHAR},
      todayRegisterNum = #{todayregisternum,jdbcType=INTEGER},
      todayRechargeNum = #{todayrechargenum,jdbcType=INTEGER},
      todayCommission = #{todaycommission,jdbcType=DOUBLE},
      time = #{time,jdbcType=DATE},
      todayWithdrawalsCount = #{todaywithdrawalscount,jdbcType=INTEGER},
      todayRechargeTotal = #{todayrechargetotal,jdbcType=DOUBLE},
      todayRechargeTd = #{todayrechargetd,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>


	<select id="selectCurrentInfo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_comm_user_day where time =current_date and userid=
		#{userid,jdbcType=VARCHAR}
	</select>

	<select id="getConsumptionThisMonth" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		select sum(todayCommission) consumptionThisMonth from tb_comm_user_day
		where DATE_FORMAT(time,'%Y-%m') = DATE_FORMAT(current_date,'%Y-%m') and
		userid= #{userid,jdbcType=VARCHAR}
	</select>

	<update id="updateCurrentInfo" parameterType="com.ipeaksoft.moneyday.core.entity.CommUserDay">
		update tb_comm_user_day
		<set>
			<if test="todayregisternum != null">
				todayRegisterNum = #{todayregisternum,jdbcType=INTEGER},
			</if>
			<if test="todayrechargenum != null">
				todayRechargeNum = #{todayrechargenum,jdbcType=INTEGER},
			</if>
			<if test="todaycommission != null">
				todayCommission = #{todaycommission,jdbcType=DOUBLE},
			</if>
			<if test="todaywithdrawalscount != null">
				todayWithdrawalsCount = #{todaywithdrawalscount,jdbcType=INTEGER},
			</if>
			<if test="todayrechargetotal != null">
				todayRechargeTotal = #{todayrechargetotal,jdbcType=DOUBLE},
			</if>
			<if test="todayrechargetd != null">
				todayRechargeTd = #{todayrechargetd,jdbcType=DOUBLE},
			</if>
		</set>
		where time =current_date and userid= #{userid,jdbcType=VARCHAR}
	</update>


	<select id="selectIncomingList" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT todayRechargeTotal sumRecharge ,todayRechargeTotal*0.3
		consumptionRoyalty,
		todayRechargeTd*0.03 apprenticeCommission,todayCommission sumIncoming,time promotionDate
		from tb_comm_user_day
		where userid = #{userid,jdbcType=VARCHAR} order by time desc
		<if test="currentPage !=null and pageSize != null">
	    <![CDATA[  LIMIT #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} ]]>
		</if>
	</select>

	<select id="selectPromotionList" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT todayRegisterNum registeNum, todayRechargeNum
		rechargeNum,todayRechargeTotal recharge,
		todayRechargeTotal*0.3 consumptionRoyalty,time promotionDate
		from tb_comm_user_day
		where userid = #{userid,jdbcType=VARCHAR} order by time desc
		<if test="currentPage !=null and pageSize != null">
	    <![CDATA[  LIMIT #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} ]]>
		</if>
	</select>

</mapper>