<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.CommGameMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.CommGame" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plat_id" property="platId" jdbcType="INTEGER" />
    <result column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gameflag" property="gameflag" jdbcType="VARCHAR" />
    <result column="initial" property="initial" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="listorder" property="listorder" jdbcType="INTEGER" />
    <result column="target_cnt" property="targetCnt" jdbcType="INTEGER" />
    <result column="target_level" property="targetLevel" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="DOUBLE" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="rules" property="rules" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plat_id, game_id, name, gameflag, initial, icon, status, create_time, update_time, 
    listorder, target_cnt, target_level, parent_id, classify, description, size, start_time, 
    end_time, rules
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_comm_game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_comm_game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.CommGame" >
    insert into tb_comm_game (id, plat_id, game_id, 
      name, gameflag, initial, 
      icon, status, create_time, 
      update_time, listorder, target_cnt, 
      target_level, parent_id, classify, 
      description, size, start_time, 
      end_time, rules)
    values (#{id,jdbcType=INTEGER}, #{platId,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{gameflag,jdbcType=VARCHAR}, #{initial,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{listorder,jdbcType=INTEGER}, #{targetCnt,jdbcType=INTEGER}, 
      #{targetLevel,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{classify,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{rules,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommGame" >
    insert into tb_comm_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platId != null" >
        plat_id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gameflag != null" >
        gameflag,
      </if>
      <if test="initial != null" >
        initial,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="targetCnt != null" >
        target_cnt,
      </if>
      <if test="targetLevel != null" >
        target_level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="rules != null" >
        rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platId != null" >
        #{platId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gameflag != null" >
        #{gameflag,jdbcType=VARCHAR},
      </if>
      <if test="initial != null" >
        #{initial,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="targetCnt != null" >
        #{targetCnt,jdbcType=INTEGER},
      </if>
      <if test="targetLevel != null" >
        #{targetLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rules != null" >
        #{rules,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.CommGame" >
    update tb_comm_game
    <set >
      <if test="platId != null" >
        plat_id = #{platId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gameflag != null" >
        gameflag = #{gameflag,jdbcType=VARCHAR},
      </if>
      <if test="initial != null" >
        initial = #{initial,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="targetCnt != null" >
        target_cnt = #{targetCnt,jdbcType=INTEGER},
      </if>
      <if test="targetLevel != null" >
        target_level = #{targetLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rules != null" >
        rules = #{rules,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.CommGame" >
    update tb_comm_game
    set plat_id = #{platId,jdbcType=INTEGER},
      game_id = #{gameId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      gameflag = #{gameflag,jdbcType=VARCHAR},
      initial = #{initial,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      listorder = #{listorder,jdbcType=INTEGER},
      target_cnt = #{targetCnt,jdbcType=INTEGER},
      target_level = #{targetLevel,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      classify = #{classify,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      rules = #{rules,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByGameid" parameterType="com.ipeaksoft.moneyday.core.entity.CommGame" >
    update tb_comm_game
    <set >
      <if test="platId != null" >
        plat_id = #{platId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gameflag != null" >
        gameflag = #{gameflag,jdbcType=VARCHAR},
      </if>
      <if test="initial != null" >
        initial = #{initial,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="targetCnt != null" >
        target_cnt = #{targetCnt,jdbcType=INTEGER},
      </if>
      <if test="targetLevel != null" >
        target_level = #{targetLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=TINYINT},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>
  
  <select id="selectGameList" resultType="java.util.HashMap" >
    select tg.id gameID,tg.`name` gameName,FROM_UNIXTIME(tgs.start_time, '%Y-%m-%d %H:%i:%S') gameBegin,tgs.ser_name gameRegion,tg.icon gameImageUrl,tg.size gameSize,tg.description gameDescription,
    CASE tg.classify WHEN 3 THEN 'ANDROID' WHEN 4 THEN 'IOS' WHEN 401 THEN 'IOS切换'  ELSE '未知'  END as  sysType
    from tb_comm_game tg
    LEFT JOIN (select a.* from tb_comm_game_server a inner join (select oa_app_id,max(start_time) start_time from tb_comm_game_server group by oa_app_id)b on a.oa_app_id=b.oa_app_id
    and a.start_time=b.start_time ) tgs on tg.game_id = tgs.oa_app_id
    where tg.`status`='2'
  </select>
  
  <select id="selectListGame" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List" /> 
	from tb_comm_game  ORDER BY id
	<if test="currentPage !=null and pageSize != null">
	      <![CDATA[  LIMIT #{currentPage},#{pageSize} ]]>
	</if>
  </select>

  <select id="selectNum" resultType="int">
	 select count(*) from tb_comm_game 
  </select>
  
  
</mapper>